.bountyContainer {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  font-family: mabry-pro-regular, sans-serif;
  line-height: 1.6;
  text-align: left;
  color: #333;
  padding-top: 100px;
}

.bountyTitle {
  text-align: center;
  color: #B38481;
  font-size: 32px;
  font-weight: bolder;
  font-family: mabry-pro-regular, sans-serif;
}

.heading2 {
  color: #B38481;
  margin-top: 20px;
  font-size: 20px;
  font-family: mabry-pro-regular, sans-serif;
}

.heading3 {
  color: #B38481;
  margin-top: 15px;
  font-size: 15px;
  font-family: mabry-pro-regular, sans-serif;
}

.paragraph {
  font-size: 16px;
  color: #444;
  font-family: mabry-pro-regular, sans-serif;
}

.bountyList {
  background: #FEF0E3;
  padding: 10px;
  border-radius: 8px;
  font-size: 16px;
  color: #555;
  margin-top: 10px;
  font-family: mabry-pro-regular, sans-serif;
}

.prohibitedTitle {
  color: #d32f2f;
  font-size: 18px;
  font-family: mabry-pro-regular, sans-serif;
} 

.submitReportButton {
  padding: 12px;
  background: #B38481;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  margin: 25px auto;
  width: 100%;
  font-weight: bold;
}

.submitReportButton:hover {
  background-color: rgb(252,146,211);
}

.container {
  background-color: rgb(250,244,238);
  min-height: 100vh;
  padding: 20px;
}
