/* Apply global styles properly */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: rgb(250,244,238);
}

/* Ensure proper spacing for body */
body {
  padding-top: 90px;
  font-family: mabry-pro-regular, sans-serif;
  font-feature-settings: "ss01", "ss09", "ss10";
  font-size: 16px;
  line-height: 35px;
  letter-spacing: 0.45px;
}


/*styles for view report button*/
.viewReports-button{
  padding: 12px;
  background: #B38481;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  margin: 25px auto;
  font-weight: bold;
  width: 64%;
}

.viewReports-button:hover {
  background-color: rgb(252,146,211);
}