
.submitContainer {
  max-width: 650px;
  margin: 50px auto;
  padding: 30px;
  background: #FEF0E3;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
  font-family: "Arial", sans-serif;
}

.submitHeader h1 {
  color: #333;
  font-size: 28px;
}

.submitHeader p {
  color: #666;
  font-size: 16px;
  margin-bottom: 20px;
}

.formContainer {
  text-align: left;
}

.formContainer label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  color: #333;
}

.formContainer input,
.formContainer select,
.formContainer textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.formContainer input[type="file"] {
  border: none;
}

.formContainer button {
  width: 100%;
  padding: 12px;
  background: #B38481;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.formContainer button:hover {
  background: #A6726D;
}

.backButton {
  margin-top: 15px;
}

.backButton button {
  background: #666;
  width: 100%;
  padding: 10px;
  border: none;
  color: white;
  border-radius: 5px;
}

.backButton button:hover {
  background: #444;
}

.successMessage {
  text-align: center;
  color: green;
  font-size: 16px;
  margin-top: 10px;
}

.page
{
  background-color: rgb(250,244,238);
  min-height: 100vh;
  padding: 20px; /* Adds some space around the content */
}